body {
	color: #606c71;
}

.circular {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	box-shadow: 0 0 20px rgba(0, 170, 221, 1);
	-webkit-box-shadow: 0 0 20px rgba(0, 170, 221, 1);
	-moz-box-shadow: 0 0 20px rgba(0, 170, 221, 1);
}

a {
	color : #00aadd;
	text-decoration:none;
}
a:hover{
	font-weight:bold;
	text-shadow: 0 0 8px rgba(0, 177, 221, 0.8);
}
